.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--poppins-font);
  margin-top: 40px;
  .hero-content {
    width: 50%;
    h1 {
      font-size: 3.25rem;
      font-weight: bold;
      color: #3a3a3a;
      margin-bottom: 16px;
    }
    p {
      font-weight: 600;
      font-size: 1rem;
      color: #3a3a3a;
      margin-bottom: 16px;
      width: 505px;
    }
    a {
      padding: 10px 24px;
      color: white;
      font-weight: 500;
      font-size: 1rem;
      background-color: #e02c6d;
      border-radius: 40px;
    }
  }
  .hero-img {
    position: relative;
    .circle-img {
      width: 475px;
      height: 475px;
    }
    .main-img {
      width: 440px;
      position: absolute;
      top: 25px;
      right: 30px;
    }
  }
}
