.navbar {
  display: flex;
  justify-content: space-between;
  font-family: var(--poppins-font);
  align-items: center;
  margin-top: 20px;
  span {
    font-size: 1.5rem;
    font-weight: bold;
  }
  ul {
    display: flex;
    gap: 34px;
    align-items: center;
    li {
      list-style: none;
      a {
        font-weight: 600;
        font-size: 1rem;
        color: #3a3a3a;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .navbar {
    justify-content: space-between;
    padding: 0 15px;
    margin: 35px auto;
    ul {
      li {
        display: none;
      }
      li:last-child {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    padding: 0 15px;
    ul {
      li {
        display: none;
      }
      li:last-child {
        display: block;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1220px) {
  .navbar {
    padding: 0 15px;
  }
}
